
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font: 14px "Century Gothic", Futura, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
}

.infopanel {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 10px;
}

.infoitem {
  flex-basis: 30%;
}

